In [1]:
import tweepy
from tweepy import OAuthHandler

from datetime import datetime

In [2]:
API_Key = "i3BgiDWeRDGgx1MieH5pfsQdI"

API_Secret = "W3tQRuhqBhYCm2PSezofEb0N069DNOT2r36LZzdAOQW29FdWwy"

token = '616379578-w3ElYEoF40uO4GyW0KoMAnzM0SG9lhiWhVsY0aj3'
secret = 'nY86GsXMNmttcivMlYJ1iWnqFWhcBsWgLbFbdF5vln9Jz'

In [3]:
try:
    # create OAuthHandler object
    auth = OAuthHandler(API_Key, API_Secret)
    print("1...")
    # set access token and secret
    auth.set_access_token(token, secret)
    print("2...")
    # create tweepy API object to fetch tweets
    api = tweepy.API(auth)
    print("3...")
except:
    print("Error: Authentication Failed")

1...
2...
3...

In [4]:
if token is not None:
    auth = tweepy.OAuthHandler(token, secret)
    api = tweepy.API(auth)
else:
    auth = tweepy.OAuthHandler(API_Key, API_Secret)
    try:
        redirect_url = auth.get_authorization_url()
        print(redirect_url)
    except tweepy.TweepError:
        print('Error! Failed to get request token.')

https://api.twitter.com/oauth/authorize?oauth_token=5aY12wAAAAABS6ayAAABe8Kbvus

In [5]:
pin = "8088198"

In [6]:
try:
    auth.get_access_token(pin)
except tweepy.TweepError:
    print('Error! Failed to get access token.')

In [7]:
print("token: " + auth.access_token )
print("secret: " + auth.access_token_secret)

token: 616379578-w3ElYEoF40uO4GyW0KoMAnzM0SG9lhiWhVsY0aj3
secret: nY86GsXMNmttcivMlYJ1iWnqFWhcBsWgLbFbdF5vln9Jz

In [8]:
api = tweepy.API(auth)

In [4]:
import re

In [5]:
pattern = "RT @.*:"
prog = re.compile(pattern)

In [6]:
def getTweets(subject):
    #results = api.search_30_day("BootCamp","mn state fair")
    
    global jsonData 
    jsonData = api.search(subject,count = 100,lang="en")
    dataset = []
    for r in jsonData:
        name  = r._json['user']['screen_name']
        createDate = r._json['created_at']
        retweet = r._json["retweeted"]
        if not retweet:
            try:
                tweet = r._json['extended_tweet']['full_text']
            except:
                tweet = r._json['text']
        if prog.search(tweet) is not None:
            continue
        else:
            print(tweet)
            data = f"{name}, {createDate}, {retweet}, {tweet}"
            dataset.append(data)
    filename = f"datasets/dataset {datetime.now().strftime('%Y%m%d%H_%M_%S')}.txt"
    textfile = open(filename, "w")
    for element in dataset:
        textfile.write(element + "\n")
    textfile.close()
    return dataset

## Start New Search

In [151]:
search_key = "texas"
results = getTweets(search_key)

Texas, the home of the un-vaxxed and lying @Airbnb hosts. Cannot wait to get out of this state.
TX Poker ‚Äì Texas Holdem Poker APK v2.35.0 Download https://t.co/LviUL4g2bz
I am 100% English in ancestry living in Texas‚Ä¶. I am not made for this summer heat!  I want to go somewhere cold.
@ItsJaynice @justjeninne @POTUS Why do you care about someone else‚Äôs body? Do you feel the same about the Texas abortion ban.
@Justdrewisme Today was worse than 9/11. But we will retaliate. No One is safe. "When Tyranny become law, Resistanc‚Ä¶ https://t.co/HROsxSYhUE
@KendraLust Face sittin/squattin fetish scene w @Alexis_Texas ‚ù§üòç‚ù§
Texas Governor @GregAbbott_TX had the gall to say he supports the ‚Äúright to choose‚Äù to not get vaccinated, breed va‚Ä¶ https://t.co/xzIAa2kzDm
@GovAbbott you really should research before you make sweeping, untrue assertions that waste Texas tax dollars. https://t.co/YnzJnfm9bR
@Texas_WTF @CBSNews Idk it just seems to me like the vaccine was pointless
@smiley2814 @Mikel_Jollett @GregAbbott_TX Vaccines are required for my job -  and were even required when I lived in Texas.
@thehill But they don't care about how the Texas abortion law sleazily skates past constitutional rights?
@EmilyBanting1 No it isn't.

Don't kill babies btw.

As far as silencing baby murderers goes I've already filed 3‚Ä¶ https://t.co/lVg1oPNkH2
@KenPaxtonTX All I see is two criminals just casually conversing about bullshit. Texas deserves better than Paxton,‚Ä¶ https://t.co/LnXDWKQg8C
So we not gone even try to get 21 involved?
damm president!WHAT ABOUT TEXAS AND ITS PROBLEMS HUH?!
Texas https://t.co/z313Ukfs9I
Justice Department officials accused Texas of acting ‚Äúin open defiance of the Constitution.‚Äù https://t.co/T6MfnvuJ3M via @slate
Amazing leadership at several dating apps reach out to help women in Texas.

They are rallying in support

The AG i‚Ä¶ https://t.co/QttXlSgFj2
Was this him referencing the anti Abortion law recently passed in Texas https://t.co/W2I535wzNz
Goaaaaaaal!

Texas Tech takes the lead in the 49th minute after a magnificent solo run and finish from Kirsten Davi‚Ä¶ https://t.co/GTJVUNYfxX
@KyleColby Today was worse than 9/11. But we will retaliate. No One is safe. "When Tyranny become law, Resistance b‚Ä¶ https://t.co/9uwmiWcAD7
him saying this in light of all that happened in texas this past week ): i‚Äôm going to cry https://t.co/mvE6jq7w6v
@AvA4Bleue @Marina4Colorado That has to be the best meme I've seen in quite some time... Congrats from Texas ü§†!!! https://t.co/yIJ9qyY9HL

In [155]:
from sqlalchemy import create_engine  
from sqlalchemy import Table, Column, String, MetaData, Integer
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy.orm import Session


db_string = 'postgresql://postgres:drwho@localhost/twitter'
engine = create_engine(db_string)
Base.metadata.create_all(engine)

In [156]:
class TweetData (Base):
    __tablename__ = "tweet_data"
    id = Column(Integer, primary_key = True, autoincrement=True)
    name = Column(String)
    date = Column(String)
    retweet_count = Column(Integer)
    tweet_text = Column(String)
    tweet_cleaned = Column(String)
    search_key = Column(String)
    est_positivity = Column(Integer)

In [9]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

import warnings
warnings.filterwarnings("ignore")

In [10]:
import nltk
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/theDoctor/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer
import string
import pandas as pd
import numpy as np

In [12]:
def preprocess_tweet_text(tweet):

    tweet = tweet.lower()

    tweet = re.sub(r"http\S+|www\S+|https\S+","",tweet, flags=re.MULTILINE)   

    tweet = tweet.translate(str.maketrans("","",string.punctuation))

    tweet = re.sub(r'\@\w+|\#',"",tweet)

    tweet_tokens = word_tokenize(tweet)
    filtered_words = [word for word in tweet_tokens if word not in stop_words]

#     ps = PorterStemmer()
#     stemmed_words = [ps.stem(w) for w in filtered_words]

    lemmatizer = WordNetLemmatizer()
    lemma_words = [lemmatizer.lemmatize(w, pos='a') for w in filtered_words]

    return " ".join(lemma_words)
preprocess_tweet_text("Hi there, how are you preparing for your exams?")

'hi preparing exams'

In [13]:
def get_feature_vector(train_fit):
    vector = TfidfVectorizer(sublinear_tf=True)
    vector.fit(train_fit)
    return vector

In [14]:
def int_to_string(sentiment):
    if sentiment < -0.1:
        return "Negative"
    elif sentiment < 0.1:
        return "Neutral"
    else:
        return "Positive"

In [158]:
#save results to db
session = Session(bind=engine)
for tweet in results:
    parts = tweet.split(',')
    if len(parts) > 2:
        newTweet = TweetData( name=parts[0], date = parts[1], retweet_count = 0, tweet_text = "".join(parts[3:]), search_key=search_key)
        session.add(newTweet)
session.commit()

In [159]:
session.close()

In [234]:
dataset = pd.read_sql('tweet_data',con=engine)

In [235]:
dataset.tweet_cleaned = dataset.tweet_text.apply(preprocess_tweet_text)
dataset.tail()

,name,date,retweet_count,tweet_text,tweet_cleaned,search_key,est_positivity,id
115,Dixiechick3796,Fri Sep 10 03:14:46 +0000 2021,0,Was this him referencing the anti Abortion la...,referencing anti abortion law recently passed ...,texas,NaN,116
116,mortxnsen,Fri Sep 10 03:14:45 +0000 2021,0,Goaaaaaaal!\n\nTexas Tech takes the lead in t...,goaaaaaaal texas tech takes lead 49th minute m...,texas,NaN,117
117,taliban_texas,Fri Sep 10 03:14:42 +0000 2021,0,@KyleColby Today was worse than 9/11. But we ...,kylecolby today bad 911 retaliate one safe tyr...,texas,NaN,118
118,jupitersIover,Fri Sep 10 03:14:41 +0000 2021,0,him saying this in light of all that happened...,saying light happened texas past week ‚Äô going cry,texas,NaN,119
119,David13977530,Fri Sep 10 03:14:39 +0000 2021,0,@AvA4Bleue @Marina4Colorado That has to be th...,ava4bleue marina4colorado best meme ive seen q...,texas,NaN,120

In [180]:
analysis

Sentiment(polarity=0.0, subjectivity=0.0)

In [236]:
sent = []
for x in dataset['tweet_cleaned']:
    
    
    
    blob_object = TextBlob(x)
    
#    Sentiment(classification='pos', p_pos=0.5057908299783777, p_neg=0.49420917002162196)
    
    
    analysis = blob_object.sentiment
    
    c = analysis.subjectivity
    p = analysis.polarity
   
    
    print(analysis)
    
    if p < -0.1:
        r = -1
    elif p > 0.1:
        r = 1
    else:
        r = 0
    sent.append(r) 
    
#create the sentiment column
dataset["est_positivity"] = sent

Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.3, subjectivity=0.6)
Sentiment(polarity=0.5, subjectivity=1.0)
Sentiment(polarity=0.3, subjectivity=0.6)
Sentiment(polarity=0.7, subjectivity=0.6000000000000001)
Sentiment(polarity=0.6125, subjectivity=1.0)
Sentiment(polarity=0.25, subjectivity=0.3333333333333333)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.14285714285714285, subjectivity=0.31785714285714284)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=-0.4, subjectivity=0.6)
Sentiment(polarity=-0.0625, subjectivity=1.0)
Sentiment(polarity=0.85, subjectivity=1.0)
Sentiment(polarity=0.8, subjectivity=0.4)
Sentiment(polarity=0.85, subjectivity=1.0)
Sentiment(polarity=0.5333333333333333, subjectivity=0.7000000000000001)
Sentiment(polarity=0.0062500000000000056, subjectivity=0.55)
Sentiment(polarity=0.5, subjectivity=1.0)
Sentiment(polarity=0.0, subjectivity=0.125)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.85, subjectivity=1.0)
Sentiment(polarity=0.2833333333333334, subjectivity=0.4166666666666667)
Sentiment(polarity=0.06875, subjectivity=0.44375)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.5, subjectivity=1.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=1.0, subjectivity=0.3)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.3666666666666667, subjectivity=0.7000000000000001)
Sentiment(polarity=0.425, subjectivity=0.625)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.25, subjectivity=0.35)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.7, subjectivity=0.6000000000000001)
Sentiment(polarity=-0.2, subjectivity=0.15000000000000002)
Sentiment(polarity=-0.5, subjectivity=0.7)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.4)
Sentiment(polarity=0.5, subjectivity=1.0)
Sentiment(polarity=0.5, subjectivity=1.0)
Sentiment(polarity=0.13636363636363635, subjectivity=0.5)
Sentiment(polarity=0.65, subjectivity=0.6499999999999999)
Sentiment(polarity=0.31714285714285717, subjectivity=0.4471428571428572)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.13636363636363635, subjectivity=0.45454545454545453)
Sentiment(polarity=0.1, subjectivity=0.8)
Sentiment(polarity=0.13636363636363635, subjectivity=0.45454545454545453)
Sentiment(polarity=0.2, subjectivity=0.2)
Sentiment(polarity=0.4166666666666667, subjectivity=0.5)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=-0.5, subjectivity=0.16666666666666666)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=-0.45, subjectivity=0.65)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=-0.15000000000000002, subjectivity=0.4)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.43333333333333335, subjectivity=0.8333333333333334)
Sentiment(polarity=0.2, subjectivity=0.2)
Sentiment(polarity=0.15000000000000002, subjectivity=0.6)
Sentiment(polarity=-0.5, subjectivity=0.5)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=-0.25, subjectivity=0.55)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.5681818181818181, subjectivity=0.37727272727272726)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.2, subjectivity=0.725)
Sentiment(polarity=0.21666666666666665, subjectivity=0.36666666666666664)
Sentiment(polarity=0.35, subjectivity=0.35000000000000003)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.13636363636363635, subjectivity=0.5)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.5, subjectivity=0.5)
Sentiment(polarity=-0.3125, subjectivity=0.6875)
Sentiment(polarity=1.0, subjectivity=1.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.325, subjectivity=0.5666666666666667)
Sentiment(polarity=0.3, subjectivity=0.1)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=-0.3, subjectivity=0.5)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=-0.09999999999999992, subjectivity=0.5833333333333333)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.2857142857142857, subjectivity=0.5357142857142857)
Sentiment(polarity=0.0, subjectivity=0.1)
Sentiment(polarity=-0.25, subjectivity=0.5)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=-0.25, subjectivity=0.25)
Sentiment(polarity=0.1, subjectivity=1.0)
Sentiment(polarity=0.09999999999999992, subjectivity=0.7333333333333334)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.0)
Sentiment(polarity=0.0, subjectivity=0.25)
Sentiment(polarity=0.30000000000000004, subjectivity=0.45)
Sentiment(polarity=0.0, subjectivity=0.25)
Sentiment(polarity=1.0, subjectivity=1.0)
Sentiment(polarity=-0.09999999999999992, subjectivity=0.5833333333333333)
Sentiment(polarity=0.07500000000000001, subjectivity=0.475)
Sentiment(polarity=1.0, subjectivity=0.3)

In [237]:
# Same tf vector will be used for Testing sentiments on unseen trending data
tf_vector = TfidfVectorizer(ngram_range=(1,2), max_features=500000)





test = [pd.isna(x) for x in dataset['est_positivity']]
dataset1 = dataset[test]
tested = [not x for x in test]
dataset2 = dataset[tested]


tf_vector.fit(np.array(dataset2['tweet_cleaned']).ravel())



X = tf_vector.transform(np.array(dataset2['tweet_cleaned']).ravel())
if any(test):
    X_n = tf_vector.transform(np.array(dataset1['tweet_cleaned']).ravel())


y = np.array(dataset2['est_positivity']).ravel()
# y = y.astype('float')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=30)


# Training Logistics Regression model
LR_model = LogisticRegression(solver='lbfgs')
LR_model.fit(X_train, y_train)
y_predict_lr = LR_model.predict(X_test)
print(accuracy_score(y_test, y_predict_lr))

0.7083333333333334

In [238]:
dataset

,name,date,retweet_count,tweet_text,tweet_cleaned,search_key,est_positivity,id
0,amy_e_garrett,Fri Sep 10 00:41:50 +0000 2021,0,@albertarulez @CMOH_Alberta Did I say I was a...,albertarulez cmohalberta say anti oil youre du...,puppy,0,1
1,Lovemushrooms1,Fri Sep 10 00:41:38 +0000 2021,0,I‚Äôm cute girl and 4 months old puppy https://...,‚Äô cute girl 4 months old puppy,puppy,1,2
2,cvttingflxwer,Fri Sep 10 00:41:37 +0000 2021,0,@batz_r0t all hail the musty puppy üò©üò©üò©üò© (she'...,batzr0t hail musty puppy üò©üò©üò©üò© shes cute tho,puppy,1,3
3,Justina89447680,Fri Sep 10 00:41:36 +0000 2021,0,I‚Äôm cute girl and 4 months old puppy https://...,‚Äô cute girl 4 months old puppy,puppy,1,4
4,DudesDoASMR,Fri Sep 10 00:41:24 +0000 2021,0,Catboy x puppy boy listener~ Would could be b...,catboy x puppy boy listener would could good,puppy,1,5
...,...,...,...,...,...,...,...,...
115,Dixiechick3796,Fri Sep 10 03:14:46 +0000 2021,0,Was this him referencing the anti Abortion la...,referencing anti abortion law recently passed ...,texas,0,116
116,mortxnsen,Fri Sep 10 03:14:45 +0000 2021,0,Goaaaaaaal!\n\nTexas Tech takes the lead in t...,goaaaaaaal texas tech takes lead 49th minute m...,texas,1,117
117,taliban_texas,Fri Sep 10 03:14:42 +0000 2021,0,@KyleColby Today was worse than 9/11. But we ...,kylecolby today bad 911 retaliate one safe tyr...,texas,0,118
118,jupitersIover,Fri Sep 10 03:14:41 +0000 2021,0,him saying this in light of all that happened...,saying light happened texas past week ‚Äô going cry,texas,0,119
119,David13977530,Fri Sep 10 03:14:39 +0000 2021,0,@AvA4Bleue @Marina4Colorado That has to be th...,ava4bleue marina4colorado best meme ive seen q...,texas,1,120

In [216]:
dataset.groupby('search_key').mean()

            retweet_count  est_positivity
search_key
ABBA                  0.0        0.250000
puppy                 0.0        0.422222
texas                 0.0        0.043478

In [239]:
#dataset2.search_key = search_key
#dataset.reset_index("index")

dataset = dataset.set_index("id")
dataset

,name,date,retweet_count,tweet_text,tweet_cleaned,search_key,est_positivity
id,,,,,,,
1,amy_e_garrett,Fri Sep 10 00:41:50 +0000 2021,0,@albertarulez @CMOH_Alberta Did I say I was a...,albertarulez cmohalberta say anti oil youre du...,puppy,0
2,Lovemushrooms1,Fri Sep 10 00:41:38 +0000 2021,0,I‚Äôm cute girl and 4 months old puppy https://...,‚Äô cute girl 4 months old puppy,puppy,1
3,cvttingflxwer,Fri Sep 10 00:41:37 +0000 2021,0,@batz_r0t all hail the musty puppy üò©üò©üò©üò© (she'...,batzr0t hail musty puppy üò©üò©üò©üò© shes cute tho,puppy,1
4,Justina89447680,Fri Sep 10 00:41:36 +0000 2021,0,I‚Äôm cute girl and 4 months old puppy https://...,‚Äô cute girl 4 months old puppy,puppy,1
5,DudesDoASMR,Fri Sep 10 00:41:24 +0000 2021,0,Catboy x puppy boy listener~ Would could be b...,catboy x puppy boy listener would could good,puppy,1
...,...,...,...,...,...,...,...
116,Dixiechick3796,Fri Sep 10 03:14:46 +0000 2021,0,Was this him referencing the anti Abortion la...,referencing anti abortion law recently passed ...,texas,0
117,mortxnsen,Fri Sep 10 03:14:45 +0000 2021,0,Goaaaaaaal!\n\nTexas Tech takes the lead in t...,goaaaaaaal texas tech takes lead 49th minute m...,texas,1
118,taliban_texas,Fri Sep 10 03:14:42 +0000 2021,0,@KyleColby Today was worse than 9/11. But we ...,kylecolby today bad 911 retaliate one safe tyr...,texas,0
119,jupitersIover,Fri Sep 10 03:14:41 +0000 2021,0,him saying this in light of all that happened...,saying light happened texas past week ‚Äô going cry,texas,0
120,David13977530,Fri Sep 10 03:14:39 +0000 2021,0,@AvA4Bleue @Marina4Colorado That has to be th...,ava4bleue marina4colorado best meme ive seen q...,texas,1

In [241]:
 dataset.to_sql('tweet_data', engine, if_exists='replace', index=True)

In [242]:
dataset

,name,date,retweet_count,tweet_text,tweet_cleaned,search_key,est_positivity
id,,,,,,,
1,amy_e_garrett,Fri Sep 10 00:41:50 +0000 2021,0,@albertarulez @CMOH_Alberta Did I say I was a...,albertarulez cmohalberta say anti oil youre du...,puppy,0
2,Lovemushrooms1,Fri Sep 10 00:41:38 +0000 2021,0,I‚Äôm cute girl and 4 months old puppy https://...,‚Äô cute girl 4 months old puppy,puppy,1
3,cvttingflxwer,Fri Sep 10 00:41:37 +0000 2021,0,@batz_r0t all hail the musty puppy üò©üò©üò©üò© (she'...,batzr0t hail musty puppy üò©üò©üò©üò© shes cute tho,puppy,1
4,Justina89447680,Fri Sep 10 00:41:36 +0000 2021,0,I‚Äôm cute girl and 4 months old puppy https://...,‚Äô cute girl 4 months old puppy,puppy,1
5,DudesDoASMR,Fri Sep 10 00:41:24 +0000 2021,0,Catboy x puppy boy listener~ Would could be b...,catboy x puppy boy listener would could good,puppy,1
...,...,...,...,...,...,...,...
116,Dixiechick3796,Fri Sep 10 03:14:46 +0000 2021,0,Was this him referencing the anti Abortion la...,referencing anti abortion law recently passed ...,texas,0
117,mortxnsen,Fri Sep 10 03:14:45 +0000 2021,0,Goaaaaaaal!\n\nTexas Tech takes the lead in t...,goaaaaaaal texas tech takes lead 49th minute m...,texas,1
118,taliban_texas,Fri Sep 10 03:14:42 +0000 2021,0,@KyleColby Today was worse than 9/11. But we ...,kylecolby today bad 911 retaliate one safe tyr...,texas,0
119,jupitersIover,Fri Sep 10 03:14:41 +0000 2021,0,him saying this in light of all that happened...,saying light happened texas past week ‚Äô going cry,texas,0
120,David13977530,Fri Sep 10 03:14:39 +0000 2021,0,@AvA4Bleue @Marina4Colorado That has to be th...,ava4bleue marina4colorado best meme ive seen q...,texas,1